@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

hr {
  width: 100%;
  border: 1px solid #E7E7E7;
}

.conteiner {
  max-width: 1328px;
  margin: 0 auto;
}
